* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #082334;
    background-color: #FFF;
}

a {
    text-decoration: none;
}

button {
    font-family: 'cascadia code';
    border-radius: 5px;
    transition: 0.5s;
    font-weight: bold;
}

header {
    height: 115vh;
    padding: 2.5% 8.5%;
    background-image: url('../images/bg1.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#logo {
    height: 35px;
}

.btn1 {
    padding: 10px;
    border: 2px solid #082334;
    color: #082334;
    background: transparent;
}

.btn1:hover {
    background-color: #082334;
    color: #FFF4EE;
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 50px 0;
    gap: 100px;
}

.hero-left,
.hero-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-left h1 {
    font-size: 3.75rem;
    font-family: 'cascadia code';
    background: linear-gradient(120deg, #C88862, #082334);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-left span {
    font-size: 1.1rem;
    line-height: 1.35;
}

.btn2 {
    padding: 15px;
    border: 2px solid #082334;
    color: #082334;
    background-color: #FFF4EE;
    font-size: 1.15rem;
}

.btn2:hover {
    background-color: #082334;
    color: #FFF4EE;
}

.review-sec {
    display: flex;
    align-items: center;
    gap: 10px;
}

.review-sec .r-imgs {
    display: flex;
}

.r-imgs img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #FFF4EE;
    transition: scale 0.5s ease;
}

.r-imgs img:hover {
    z-index: 10;
    scale: 1.5;
}

.r-imgs img:not(:first-child) {
    margin-left: -10px;
}

.r-star {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.stars {
    height: 15px;
    width: 120px;
    transition: transform 0.5s ease;
}

.stars:hover {
    transform: translateX(30px) scale(1.5);

}

.r-star span {
    font-family: 'cascadia code';
    font-size: 0.8rem;
}

.hero-right img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 100px;
}

.features h1,
.reading-journey h1,
#pricing h1,
footer h1 {
    font-size: 3rem;
    font-family: 'cascadia code';
}

.reading-journey h1,
.reviews h2,
footer h1 {
    text-align: center;
}

.features span,
.features li,
.reading-journey span,
#pricing span,
.reviews span {
    font-size: 1.26rem;
    line-height: 1.35;
}

.f1 {
    display: flex;
    gap: 75px;
}

.f1-img,
.f1-txt {
    display: flex;
    justify-content: center;
    flex: 1;
}

.f1-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.f1-txt {
    flex-direction: column;
    gap: 30px;
}

.f1-txt ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-right: 100px;
    gap: 20px;
}

.f1-txt ul li {
    display: flex;
    align-items: center;
    gap: 15px;
}

.checkbox {
    width: 1.75rem;
    height: 1.75rem;
    border: 2px solid #082334;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    flex-shrink: 0;
}

.f2 {
    position: relative;
}

.f2-main {
    display: flex;
    gap: 75px;
}

.f2-txt,
.f2-img {
    display: flex;
    justify-content: center;
    flex: 1;
}

.f2-txt {
    flex-direction: column;
    gap: 30px;
}

.f2-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.f2-icons img {
    position: absolute;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.f2-icons img:hover {
    scale: 1.5;
    box-shadow: 0 0 5px #082334;
}

.typescript {
    width: 60px;
    height: 60px;
    bottom: 100px;
    left: 49%;
}

.github {
    width: 50px;
    height: 50px;
    bottom: 40px;
    left: 47%;
}

.reactjs {
    width: 40px;
    height: 40px;
    bottom: 50px;
    left: 53%;
}

.second {
    display: flex;
    flex-direction: column;
    gap: 75px;
}

.reading-journey {
    background-image: url(../images/bg1.jpg);
    background-size: cover;
    border-radius: 10px;
    margin: 0 100px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-family: 'cascadia code';
}

.steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    flex: 1;
    transition: all 0.5s ease;
}

.step:hover {
    transform: scale(1.3);
}

.no-box {
    width: 2rem;
    height: 2rem;
    border: 2px solid #082334;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    flex-shrink: 0;
}

#pricing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding: 100px;
}

#pricing h2,
.reviews h2 {
    font-size: 2.25rem;
    font-family: 'cascadia code';
}

#pricing h3 {
    font-size: 1.75rem;
    font-family: 'cascadia code';
}

.pricing-plans {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.starter,
.pro,
.enterprise {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid #FFF4EE;
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.starter:hover,
.pro:hover,
.enterprise:hover {
    transform: scale(1.15);
    box-shadow: 0 0 10px #000000AE;
}

.pro {
    background: linear-gradient(120deg, #FCF4F2, #D5E4EB);
    padding: 40px 20px;
}

.p-child {
    display: flex;
    gap: 10px;
    align-items: center;
}

.pr-features {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-top: 2px solid #FFF4EE;
    padding-top: 20px;
}

.pr-f {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn3,
.btn4 {
    border: 2px solid #082334;
    color: #082334;
    background-color: #FFF4EE;
    font-size: 1.15rem;
}

.btn3 {
    padding: 15px 30px;
}

.btn4 {
    padding: 15px 60px;
}

.btn3:hover,
.btn4:hover {
    background-color: #082334;
    color: #FFF4EE;
}

.reviews {
    margin: 0 100px 100px 100px;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.reviews .stars:hover {
    transform: scale(1.5);
}

footer {
    background-image: url('../images/bg2.jpg');
    background-size: cover;
    color: #FFF;
    border-radius: 20px 20px 0 0;
    border-bottom: 2px solid #FFF;
    padding: 100px 100px 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.btn5 {
    border: 2px solid #FFF4EE;
    color: #FFF4EE;
    background: transparent;
    font-size: 1.15rem;
    padding: 15px 20px;
}

.btn5:hover {
    background-color: #FFF;
    color: #082334;
}

.below-sec {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.5px solid #FFFFFFAE;
    padding: 20px 0;
}

.below-sec span {
    font-family: 'cascadia code';
    font-size: 0.9rem;
}

.ff-icons {
    display: flex;
    gap: 20px;
}

.ff-icons img {
    width: 1rem;
}

.imgz {
    transition: all 0.5s ease;
}

.imgz:hover {
    transform: scale(0.95);
    box-shadow: 0 0 10px #082334;
}

@media (max-width: 1000px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    span,
    li {
        font-size: 0.85rem;
    }

    header {
        height: auto;
        padding: 5% 5%;
    }

    .hero {
        flex-direction: column;
        gap: 30px;
        height: auto;
        padding: 20px 0;
    }

    .features {
        padding: 50px 20px;
        margin: 0;
    }

    .f1,
    .f2-main {
        flex-direction: column;
        gap: 30px;
        padding: auto;
    }

    .f1-txt ul {
        padding-right: 0;
    }

    .f2-icons {
        position: static;
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .f2-icons img {
        position: static;
        width: 30px;
        height: 30px;
    }

    .reading-journey {
        margin: 0;
        padding: 50px 20px;
    }

    .steps {
        flex-direction: column;
        gap: 30px;
        align-items: flex-start;
    }

    .step {
        flex-direction: row;
        gap: 15px;
    }

    .step:hover {
        transform: scale(0.95);
    }

    #pricing {
        margin: 0;
        padding: 50px 20px;
    }

    .pricing-plans {
        flex-direction: column;
        gap: 30px;
    }
    .reviews {
        margin: 0;
        padding: 50px 20px;
    }

    footer {
        padding: 10px 20px;
    }
}